.page {
  display: flex;
  gap: 30px;
  padding: 20px;
}

/* LEFT */
.left {
  width: 220px;
}

.left button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

/* RIGHT */
.right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* CARD */
.card {
  background: #eef2ff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.img {
  height: 120px;
  background: #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}
